#glo
{
     font-weight: bold;
    font-size: 5em; 
    font-family: 'Courgette', cursive ;
}
#pt
{
    margin-left: 130px;
    font-size: small;
    float: left;
}
#search{
    float: right;
    margin-right: 133px;
    margin-top: 50px;
} 

header{
    
    position: relative;
    display: inline;
}
body{
    
    background-color: lightgray;
    margin: 30px;
    
}
footer{
    clear: both;
    /* position:absolute; */
    bottom:0;
    width: 83%;
    background-color: black;
    text-align: center;
    color: white;
    margin-left: 110px;
    
}
a{
    text-decoration: none;
}
.nav{
   
    display: flex;
    clear: both;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#lg{
    display: flex;
}
#lg2{
    margin-bottom: 100px;
}
.v{
    /* padding-left: 5px; */
    width: 100%;
    margin-top: 36px;
    
}
.ee2{
   text-align: left;
    padding-right: 140px;
}
.ee1{
    text-align: left;
}

#tf{
    width: 100%;
    height: 500px;
    /* padding-left: 200px;
    padding-top: 20px; */
}
article{
    text-align: left;
}
section{
    text-align: left;
}
#p{
    text-align: left;
}
#liste{
    border: 3px solid blue;
    border-radius: 1px;
    height: 50px;
    padding-top:10px ;
    padding-bottom:10px ;
    background-color: blue;
    
}

#conteneur{
    margin-left: 130px;
    margin-right: 90px;
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: 10px;;
}
#img{
    width: 90%;
    height: 200px;
}
#con{
    margin-left: 120px;
    margin-right: 90px;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}

#bord{
    /* border-right: 2px solid; */
    padding: 70px;
    color: white;
}
@media all and (max-width: 1024px)
{
    body{
        width: 100%;
        margin: auto;
    }

    #conteneur
    {
        flex-direction: column;
    }
    #search{
        clear: both;
        text-align: center;
    }
    #con
    {
        flex-direction: column;
    }
    #pt{
        font-size: 0.9em;
    }
    .lg1{
        width: auto;
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }
    #glo{
        font-size: 3em;
    }
}



