#glo
{
     font-weight: bold;
    font-size: xx-large; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#pt
{
    font-size: small;
    float: left;
}
#search{
    float: right;
} 
header{
    
    position: relative;
    display: inline;
}
body{
    
    background-color: lightgray;
    
}
/* footer{
    position:absolute;
    bottom:0;
    width:100%;
    background-color: black;
    text-align: center;
    color: white;
} */
a{
    text-decoration: none;
}
.nav{
    float: left;
    
}
#liste{
    border: 1px solid blueviolet;
    padding: 10px;
    background-color: blueviolet;
}

#conteneur{
    clear: both;
    display: flex;
    justify-content: space-between;
}
#img{
    width: 90%;
    height: 200px;
}


#bord{
    border-right: 1px solid;
}


